<!doctype html>
<meta name="viewport" content="width=device-width">
<link rel="alternate" type="application/rss+xml" href="feed.xml">
<style>body{font:18px/1.25 monospace;max-width:40em;margin:1em}*{color:inherit;font:inherit;margin:0}h1,h2,h3{font-weight:bold}@media(prefers-color-scheme:dark){html{background-color:#000;color:#fff}}</style>
<title>{{ page.title }}</title>
{% if page.title %}<h1>{{page.title}}</h1>{% endif %}
{{ content }}

{% assign posts = site.pages | concat: site.documents %}
{% if page.url == "/" %}
  {% for post in posts %}
    <a href="{{ post.url }}">&gt; {{ post.title }}</a><br>
  {% endfor %}
{% endif %}

{% assign backlinks = posts | where_exp: "item", "item.content contains (page.slug | append: page.ext") %}
{% if backlinks.size > 0 %}
  <br><h3>backlinks:</h3>
  {% for backlink in backlinks %}
    <a href="{{ backlink.url }}">&lt; {{ backlink.title }}</a><br>
  {% endfor %}
{% endif %}